@use 'sass:math';

// function px to rem
$base-font-size: 16px;

@function rem($value) {
  @if math.is-unitless($value) {
    $value: $value * 1px;
  }
  @return math.div($value, $base-font-size) * 1rem;
}