@use "var" as *;
@use "fn" as *;


/* Основний вміст */
.main-content {
  flex-grow: 1;
  background-color: $body-bg-color;
  margin-left: 250px;
  position: relative;
}

.main-content.collapsed {
  margin-left: 80px;
}

main.main-content-area {
  padding: rem(40) rem(40) rem(24);
}