@use "var" as *;
@use "fn" as *;

/* Медіа-запит для автоматичного звуження при ширині менше 768px */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
    padding-left: 0;
  }

  .sidebar .logo > i {
    display: block;
    text-align: center;
    margin-right: 0;
  }

  .sidebar .logo span {
    display: none;
  }

  .sidebar .sidebar-menu-title > span {
    display: none;
  }

  .main-content {
    margin-left: 80px;
  }

  .sidebar .nav-link span {
    display: none;
  }

  .sidebar .nav-link {
    text-align: center;
  }

  .sidebar .nav-link i {
    font-size: 1.5rem;
  }

  /* Приховування кнопки на малих екранах */
  #toggleSidebar {
    display: none;
  }
}