@use "var" as *;
@use "fn" as *;
@use "bootstrap" as b;

/* SIDEBAR */
.sidebar {
  background-color: $bg-sidebar;
  color: $sidebar-link;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 40px;

  a.nav-link {
    color: $sidebar-link;
  }
}

.sidebar.collapsed {
  width: 80px;
  padding-left: 0;
}

.sidebar.collapsed .nav-link span {
  display: none;
}

.sidebar.collapsed .nav-link {
  text-align: center;
}

.sidebar.collapsed .nav-link i {
  font-size: 1.5rem;
}

.sidebar-toggle-btn {
  color: $body-color;
  cursor: pointer;
  margin-right: rem(10);
}

.sidebar-toggle-btn i {
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(24);
}

.sidebar-toggle-btn:hover i {
  color: b.$blue-400;
}

.logo {
  font-weight: 600;
  font-size: rem(18);
  line-height: rem(29);
  margin-bottom: 40px;
}

.logo {
  span {
    color: #fff;
  }

  i {
    color: #f8285a;
    margin-right: 10px;
  }
}

.sidebar.collapsed .logo span {
  display: none;
}

.sidebar.collapsed .logo {
  text-align: center;
}

.sidebar.collapsed .logo i {
  font-size: 38px;
  margin-right: 0;
}

.sidebar.collapsed .sidebar-menu-title {
  text-align: center;
}

.sidebar.collapsed .sidebar-menu-title span {
  display: none;
}

.sidebar-menu-title {
  font-size: rem(13);
  line-height: rem(20);
  color: $sidebar-title;
  margin-left: 15px;
}