@use "bootstrap" as b;
@use "var" as *;
@use "fn" as *;

body {
  color: $body-color;
  font-family: 'Inter', sans-serif;
  font-size: rem(14);
  line-height: rem(21);
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  overflow: auto;
  background-color: $bg-sidebar
}


.h1, .h2, .h3, .h4, .h5, h6,
h1, h2, h3, h4, h5, h6 {
  color: $grey;
  font-weight: 600;
}

h1 {
  font-size: rem(26);
  line-height: rem(32);
}

h2 {
  font-size: rem(23);
  line-height: rem(28);
}

h3 {
  font-size: rem(20);
  line-height: rem(24);
}

h4 {
  font-size: rem(17);
  line-height: rem(20);
}

h5 {
  font-size: rem(15);
  line-height: rem(18);
}

h6 {
  font-size: rem(14);
  line-height: rem(17);
}

p {
  color: $text;
}

i {
  color: $body-color;
}