//COLORS

$grey: #495057;
$text: rgba(109, 118, 126, 0.75);
$body-color: #6c757d;
$body-bg-color: #f7f9fc;
$table-item-bg: #f6f6f6;
$bg-sidebar: #293042;
$border-color: #dee6ed;


$item-shadow: 0 0 .875rem 0 rgba(41, 48, 66, .05);