@use "modules/var" as *;

@use "bootstrap" as b with (
  $table-color: $body-color,
  $table-striped-bg: $table-item-bg,
  $border-color: $border-color,
);

@use "modules/typography";
@use "modules/fn" as *;
@use "modules/components";
@use "modules/sidebar";
@use "modules/header";
@use "modules/main";

@use "modules/media";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');